/* Resetting box-sizing for all elements */
* {
  box-sizing: border-box;
}

/* Basic body styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f6fa;
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styling for the square elements */
.square {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.square:hover {
  background-color: #f8f9fa;
  border-color: #ced4da;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the board container */
.board {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the status message */
.status {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

/* Styling for the game container */
.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-info ol {
  padding-left: 0;
  list-style: none;
}

.game-info button {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.game-info button:hover {
  background-color: #0056b3;
}

button.reset-button {
  background-color: #4CAF50;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin-top: 10px; 
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button.reset-button:hover {
  background-color: #45a049; /* Warna latar belakang saat hover */
}